<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org//extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Users List</title>
</head>
<body>
	<h1 layout:fragment="header">User List</h1>
	<div layout:fragment="content" class="container">
		<div class="pull-right">
            <a th:href="@{/users/new}">Create User</a>
        </div>

		<div th:if="${not #lists.isEmpty(users)}">
			<h2>User List</h2>
			
			<span sec:authentication="principal.username">kazem</span>
			<span sec:authentication="authorities">kazem</span>
			<div class="table-responsive">
				<table class="table table-sm table-hover">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">User Name</th>
							<th scope="col">Email</th>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Created Date</th>
							<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Password</th>
							<th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Enabled</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td th:text="${user.id}"></td>
							<td><a th:text="${user.userName}" th:href="@{/users/__${user.id}__}">email</a></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.firstName}"></td>
							<td th:text="${user.lastName}"></td>
							<td th:text="${#temporals.format(user.timeCreated, 'dd-MM-yyyy HH:mm:ss z')}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')" th:text="${user.password}"></td>
							<td th:text="${user.userEnabled}" sec:authorize="hasRole('ROLE_ADMIN')"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


	</div>
</body>
</html>