<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}">

</head>
<body>
	<div class="jumbotron text-center">
		<h1>My First Bootstrap Page</h1>
		<p>Resize this responsive page to see the effect!</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3>Column 1</h3>
				<p>Lorem ipsum dolor..</p>
			</div>
			<div class="col-sm-4">
				<h3>Column 2</h3>
				<p>Lorem ipsum dolor..</p>
			</div>
			<div class="col-sm-4">
				<h3>Column 3</h3>
				<p>Lorem ipsum dolor..</p>
			</div>
		</div>
	</div>
	
	<div th:if="${not #lists.isEmpty(users)}">
    <h2>Counts List</h2>
    <table class="table table-striped">
        <tr>
            <th>user name</th>
            <th>email</th>
            <th>enabled</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.userName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.userEnabled}"></td>
        </tr>
    </table>
</div>
</body>
</html>