<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>User Details</title>
</head>
<body>
	<h1 layout:fragment="header">User Details</h1>
	<div layout:fragment="content" class="container">

		<form id="updateForm" th:object="${user}" th:action="@{/users/save}"
			action="#" method="post">
			<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">Validation
					error</p>
			</div>
			<div class="pull-right">
				<a th:href="@{/users/list}" href="list.html"> Users </a>
			</div>
			<input type="hidden" th:field="*{id}" />
			<div class="form-group"
				th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
				<label class="control-label col-xs-3" for="email">Email:</label>
				<div class="col-xs-9">
					<input type="text" th:field="*{email}" class="form-control" />
				</div>
			</div>
			<div class="form-group"
				th:classappend="${#fields.hasErrors('userName')} ? 'has-error'">
				<label class="control-label col-xs-3" for="userName">User
					Name:</label>
				<div class="col-xs-9">
					<input type="text" th:field="*{userName}" class="form-control" />
				</div>
			</div>
			<div class="form-group"
				th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
				<label class="control-label col-xs-3" for="password">Password:</label>
				<div class="col-xs-9">
					<input type="password" th:field="*{password}" class="form-control" />
				</div>
			</div>
			<div class="form-group"
				th:classappend="${#fields.hasErrors('confirmPassword')} ? 'has-error'">
				<label class="control-label col-xs-3" for="confirmPassword">Password
					Confirmation:</label>
				<div class="col-xs-9">
					<input type="password" th:field="*{confirmPassword}"
						class="form-control" />
				</div>
			</div>

			<div class="form-actions col-xs-offset-3 col-xs-9">
				<input type="submit" class="btn btn-primary" value="Save" />
			</div>
		</form>
	</div>
</body>
</html>