<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>User Details</title>
</head>
<body>
	<h1 layout:fragment="header">User Details</h1>
	<div layout:fragment="content" class="container">
		<div class="alert alert-success" th:if="${globalMessage}"
			th:text="${globalMessage}">Some Success message</div>
		<div class="pull-right">
			<a th:href="@{/users/list}" href="list.html"> Users </a>
		</div>
		<dl>
			<dt>ID</dt>
			<dd id="id" th:text="${user.id}">123</dd>
			<dt>Email</dt>
			<dd id="email" th:text="${user.email}">123</dd>
			<dt>User Name</dt>
			<dd id="email" th:text="${user.userName}">123</dd>
			<dt>First Name</dt>
			<dd id="firstName" th:text="${user.firstName}">123</dd>
			<dt>Last Name</dt>
			<dd id="lastName" th:text="${user.lastName}">123</dd>
			<dt>Status</dt>
			<dd id="email" th:text="${user.userEnabled}">123</dd>
			<dt>Create Date</dt>
			<dd id="created"
				th:text="${#temporals.format(user.timeCreated, 'dd-MM-yyyy HH:mm:ss z')}">July
				11, 2012 2:17:16 PM CDT</dd>
			<dt>password</dt>
			<dd id="password" th:text="${user.password}"></dd>
			<!-- <dt>Email</dt>
			<dd id="email" th:text="${user.email}">Email</dd> -->
		</dl>
		<div class="pull-left">
			<a href="users" th:href="@{/users/delete/__${user.id}__}">
				delete </a> | <a href="form.html"
				th:href="@{/users/modify/__${user.id}__}"> modify </a>
		</div>
	</div>
</body>
</html>